name: Release
on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: mlugg/setup-zig@v2
      - run: zig fmt --check src build.zig

  build:
    strategy:
      matrix:
        target: [x86_64-windows-gnu]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: mlugg/setup-zig@v2
        with:
          cache-key: ${{ matrix.optimize }}
      - run: |
          zig build -Doptimize=ReleaseSafe -Dtarget=${{ matrix.target }}
      - uses: actions/upload-artifact@v6
        with:
          name: jng2-decrypt.exe
          path: zig-out/bin/jng2-decrypt.exe
          retention-days: 1

  create-release:
    needs: [lint, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
      - name: Creating release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tree || true
          gh release delete nightly --yes || true
          git push origin :nightly || true
          gh release create nightly --prerelease --title "Nightly" --notes " " *.exe
